<!DOCTYPE HTML>

<html>
	<head>
		<title>{{header.title}} - {{personal.name}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<section id="header">
				<div class="inner">
					<span class="icon major {{header.icon}}"></span>
          <h1>¡Hola!, Mi nombre es <strong>{{personal.name}}</strong> de {{personal.location.city}}, {{personal.location.country}}.</h1>
					<span>{{personal.titulo}}</span>
					<p>Soy {{personal.titles}}.</br> A continuación, te voy a mostrar proyectos en los que he trabajado o que he desarrollado.</p>
					<ul class="actions">
						<li><a href="#one" class="button scrolly">Explorar</a></li>
					</ul>
				</div>
			</section>

    {{#projects}}
			<section id="one" class="main style1 special">
				<div class="container">
					<header>
						<h2>{{title}} <a href='{{link}}' target='_blank'>{{link}}</a></h2>
					</header>
					<p>{{description}}</p>
          <hr>
          {{#section1}}
          <div class="row 150%">
						<div class="6u 12u$(medium)">
							<header>
								<h3>{{subtitle}}</h3>
							</header>
							<p>{{description}}</p>
						</div>
						<div class="6u$ 12u$(medium) important(medium)">
							<span class="image fit"><img src="{{img}}" alt="" /></span>
						</div>
		  </div>
          {{/section1}}
		   {{#section2}}
        			<div class="row 150%">
					    <div class="6u 12u$(medium)">
							<span class="image fit"><img src="{{img}}" alt="" /></span>
						</div>
						<div class="6u$ 12u$(medium)">
							<header>
								<h3>{{subtitle}}</h3>
							</header>
							<p>{{description}}</p>
						</div>
					</div>
          {{/section2}}
		   {{#section3}}
          <div class="row 150%">
						<div class="6u 12u$(medium)">
							<header>
								<h3>{{subtitle}}</h3>
							</header>
							<p>{{description}}</p>
						</div>
						<div class="6u$ 12u$(medium) important(medium)">
							<span class="image fit"><img src="{{img}}" alt="" /></span>
						</div>
					</div>
          {{/section3}}
		   {{#section4}}
          <div class="row 150%">
		  				<div class="6u 12u$(medium)">
							<span class="image fit"><img src="{{img}}" alt="" /></span>
						</div>
						<div class="6u$ 12u$(medium)">
							<header>
								<h3>{{subtitle}}</h3>
							</header>
							<p>{{description}}</p>
						</div>

					</div>
          {{/section4}}
				</div>
			</section>
    {{/projects}}


		<!-- Footer -->
		<section id="footer">
			<ul class="icons">
				<li><a href="https://beriliox.gitlab.io/resume/" target="_blank" class="icon alt fa-user-circle"><span class="label">Currículum</span></a></li>
				<li><a href="https://www.facebook.com/beriliox" target="_blank"  class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="https://github.com/beriliox" target="_blank" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
				<li><a href="https://gitlab.com/beriliox" target="_blank"  class="icon alt fa-gitlab "><span class="label">GitLab</span></a></li>
				<li><a href="http://stackoverflow.com/users/5986925/beriliox?tab=profile" target="_blank" class="icon alt fa-stack-overflow "><span class="label">Stack Overflow</span></a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; Responsive Portfolio</li><li>Design: <a href="http://html5up.net" target="_blank">HTML5 UP</a></li>
			</ul>
		</section>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
