h1, h2, h3, h4, h5, h6, p, span, li, a, figure {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", sans-serif !important;
  color: #303030; }

h1 {
  font-size: 1.7em; }

h2 {
  color: #064863;
  font-size: 1.5em; }

h3 {
  font-size: 1.2em;
  color: #064863; }

p, li {
  font-family: "Source Sans Pro", sans-serif !important;
  color: #5f5f5f;
  line-height: 2; 
  font-size:1em;
}

span{
  font-family: "Source Sans Pro", sans-serif;
  color: #5f5f5f;
  line-height: 2; 
  font-size:1em;
}


span, a {
  color: #064863; }

ul {
  padding: 0;
  list-style-type: none; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

html {
  min-height: 100%; }

body {
  padding: 0;
  margin: 0;
  background-color: #c7d9e0;
  background-image: -webkit-linear-gradient(-405deg, #c7d9e0, #75cbef);
  background-image: linear-gradient(135deg,#c7d9e0, #75cbef); }
  @media screen and (min-width: 768px) {
    body {
      padding: 2em; } }

#main-wrapper {
  background-color: #FEFEFE;
  margin: 0 auto;
  max-width: 1150px;
  overflow: auto;
  position: relative; }
  @media screen and (min-width: 768px) {
    #main-wrapper {
      box-shadow: -25px 25px 25px 0 rgba(0, 0, 0, 0.15); } }

#information {
  width: 100%;
  box-sizing: border-box;
  padding: 2em 2em 0; }
  @media screen and (min-width: 768px) {
    #information {
      padding: 4em 4em 2em; } }
  @media screen and (min-width: 1140px) {
    #information {
      width: 65%;
      float: left;
      border-right: 1px solid #EBEBEB; } }


section {
  margin: 2em 0 0; }
section .wrapper {
  margin-top: 1em;    
  border-left: 1px solid #EBEBEB; }
section .wrapper2 {    
  margin-top: 1em;} 
  @media screen and (min-width: 768px) {
    section {
      margin: 4em 0 0; }
      section .wrapper {
        padding-left: 2em; } }

/*Project styles*/
section .wrapper .project{
    margin-top:1em; }
section .wrapper .project .info{
    margin-top:1em; 
    text-align: justify;}
section .wrapper .project .tecnologias{
    margin-top:1em;
    font-size: 1em; }
section .wrapper .project .tecnologias span{
     font-family: "Source Sans Pro", sans-serif;
     color: #064863;
     line-height: 2; 
     font-size:0.85em;   }

  
  section .externallinks{
    float:center;
    opacity: 0.4;}    
  section .externallinks ul{
    text-align: center; }
  section .externallinks ul li{
    display: inline-block;
    padding-left: 10px;
    position: center; }  
  @media screen and (max-width: 1139x) {
      section .externallinks ul li{
      float:center; }
      section .externallinks{
      margin-top: 2em; 
      float:left;}}
  section button{
    margin: auto auto auto auto;
    opacity: 0.5;}


aside {
  box-sizing: border-box;
  padding: 0 2em 0;
  width: 100%; }
  aside ul {
    padding: 0 0 0 0;
    margin-bottom: 0; }
  aside section {
    margin: 2em 0 0; }
    aside section:last-of-type {
      margin-bottom: 2em; }
  @media screen and (min-width: 768px) {
    aside {
      overflow: auto;
      padding: 0 4em 2em; }
      aside .wrapper {
        border-left: 0;
        padding: 0; }}
  @media screen and (max-width: 620px) {
  aside section {
     margin:auto;
     padding-bottom: 2em;
     float:left;
     width: 100%;}  }
  @media screen and (min-width: 621px) and (max-width:1139px) {
  aside section {
    width:100%;
    margin:auto;
    padding-bottom: 2em; 
    float:left;} }
  @media screen and (min-width: 768px) and (max-width:1139px) {
    aside .wrapper{
    border-left: 1px solid #EBEBEB;
    padding-left: 2em;}}      
  @media screen and (min-width: 1140px) {
    aside {
      float: left;
      padding: 4em 3em 0;
      width: 35%; }
    aside .firstH{
      margin-top: 2em;}
    aside section {
      width: 100%;
      margin: 1,5em 0 0; }
      aside section:first-of-type {
          margin-top: 2em; } }
 
    

#bio {
  overflow: auto; }
  #bio figure {
    margin-right: 30px;
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 40px; }
    #bio figure img {
      width: 100%;
      height: 100%;
      border-radius: 40px;
      object-fit: cover; }
  #bio div {
    float: left; }
    #bio div span {
      display: block; }
      #bio div span.location {
        color: #858585; }
  @media screen and (min-width: 768px) {
    #bio figure {
      width: 100px;
      height: 100px; }
      #bio figure img {
        border-radius: 50px; }
    #bio div {
      margin-top: 0.5em; } }

footer {
  width: 100%;
  clear: left;
  display: block;
  text-align: center;
  box-sizing: border-box;
  border-top: 1px solid #EBEBEB;
  padding: 2em; }
  footer span {
    color: #858585; }
  @media screen and (min-width: 768px) {
    footer {
      padding: 2em 4em; } }
  footer ul li {
    float:center;
    padding-left: 10px;
  }
  footer li:first-child {
    float:center;
  }

/* Old skills bars 

.skillparent{
  display: flex;
  width: 100%;}
@media screen and (max-width: 620px) {
 .skillparent{
  width: 100%;
  margin:auto;}}
@media screen and (min-width: 621px) and (max-width:1139px) {
 .skillparent{
  width: 96%;
  margin:auto;}}
@media screen and (min-width: 1140px) {
.skillparent{
  width: 100%;
  margin:auto;}}

.skillname{
  width:90px;
  line-height: 1px !important;
  font-weight: bolder;
}

.skillbar {
  margin: auto;
  flex: 1;
  height: 5px;
  background-color: #d9d9d9;
  border-radius: 3px;
  position: relative;
  overflow: hidden; }
  .skillbar .fill {
    border-radius: 3px 0 0 3px;
    width: 100%;
    height: 5px;
    background-color: #064863;
    background-image: -webkit-linear-gradient(-405deg, #064863, #0ba2e0);
    background-image: linear-gradient(135deg,#064863, #0ba2e0); }

*/

.lists li {
  margin-bottom: 1em; }